/* ==============================================
               section contact
============================================== */

.contact-us span{
    color: var(--subtitle);
    vertical-align: middle;
}
 
.contact-us span svg{
    margin-right: 10px;
    font-size: 2rem;
}
.contact-us h1.h1{
    color: var(--title);
      font-size: 2.1rem;
      margin-bottom: 1rem;
}
.icons a{
    all: unset;
}

.contact-us p{
    color: var(--subtitle);
    font-size: 14px;
    margin-bottom: 2rem;
    line-height: 1.6rem;
    text-transform: capitalize;
}


/* =============================================
            section-form
============================================= */

.contact-us label{
    color: var(--subtitle);
}

.contact-us #email,#message{
    all:unset;
    background-color: rgba(63,63,70,0.15);
    border: 1px solid var(--border);
    width: 16rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.1rem;
    
}

.light .contact-us #email,.light #message{
    color: #1a1a1ab2;
    box-shadow: 1px 1px 5px rgba(94, 93, 93, 0.893);
    background-color: #ffffffdb;

} 

.contact-us form{
    text-transform: capitalize;
}


.contact-us #email:focus,#message:focus{
    border: 1px solid rgb(45, 212, 191);

}

.light .contact-us #email:focus,.light #message:focus{
    border: 1px solid rgba(53, 53, 53, 0.74);

}

.contact-us #message{
    min-height: 9rem;
    resize: vertical;
}

.contact-us .submit{
      background-color: rgba(36, 37, 46, 1);
    text-align: center;
    padding: 10px 2rem;
    font-size: 17px;
    border-radius: 5px;
    opacity: 0.5;
    margin-top: 1.8rem;
    border: 1px solid var(--border);
}

.contact-us .submit:hover{
    scale: 0.97;
    opacity: 1;
}

  .animation{
        width: 400px;
    }
.animation-message{
    all: unset;
    width: 200px;

  position: relative;
  left: 70px;
}

.submit-button{
    position: relative;
    right: 70px;
    width: 100%;
}

@media (max-width:600px){
    .contact-us form{
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    .contact-us form div.flex{
        flex-direction: column;
        align-items: start;
    }

    .animation{
        display: none;
    }
.animation-message{
   all: unset;
   
   width: 100px;
   height: 50px;
    
}
.submit-button{
    all: unset;
    margin: auto;
    font-size: 15.5px;
    font-weight: 700;
}
     .contact-us form .submit{
        width: 30%;
        margin: auto;
        margin-top: 10px;
     }

     .contact-us #email,#message{
        width: 100%;
        padding: 0.7rem 0;
        margin: 0;
        margin-top: 1rem;
     }
}

@media (max-width:1000px){
      .animation{
        display: none;
    }
}