@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
    list-style: none;
  /* box-sizing: inherit; */
  scroll-behavior: smooth;

}
 
:root{
  --primary:#000;
  --secondary: rgb(24 24 27);
  --title: rgb(244 244 245);
  --border: rgb(63, 63, 70 , 0.4);
  
  --subtitle: rgb(161 161 170);
  --bgheader: rgb(39 39 42);
  --blue: rgb(93 188 252);
  --icon-hover:#d4d4d8;
}

body{
   background-color: var(--primary);
  color: rgb(244 244 245);
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
 
}



.light{
   --primary:rgb(250, 250, 250);
  --secondary: rgb(255 255 255);
  --title: rgb(39 39 42);
  --border: rgb(202 202 202 0.518);
 
  --subtitle: rgb(82 82 91);
  --bgheader: rgb(253 253 253);
  
  --blue: rgb(0 149 246);
  --icon-hover:#333;

}
 
#container{
  border: 1px rgba(96, 96, 96, 0.516) solid;
  width: 80%;
  margin: auto;
  background: var(--secondary) ;
   padding: 0 50px;
   
}

.divider{
  border-bottom: 1px solid rgba(96, 96, 96, 0.516) ;
  margin: 3rem 0;
  width: 111%;
  margin-left: -3.1rem;
}

.flex{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
      transition: all 0.2s ease;
}


.border{
  border: 1px red solid;
}

button{
  all: unset;
  color: rgb(244 244 245);
   cursor: pointer;
}

button:disabled{
 cursor: not-allowed;
}



@media (max-width:1000px){
   
#container{
  width: 90%;
 padding: 0 1.7rem;
}


.divider{
 
  width: 111%;
  margin-left: -1.7rem;
}
.right-section-animation{
    display: none;
  }

}


@media (max-width:600px){
  .container1{
    width: 98%;
    padding: 0 1.7rem;
  }
   .divider{
    margin-left: -26px;
    width: 112%;
  }

  .scroll2top svg{
    opacity: 0.4;
    height: 1.5rem;
    width: 1.5rem;
    padding: 10px;
  }
  .right-section-animation{
    display: none;
  }
}


/* الشريط الجانبي */


::-webkit-scrollbar{
  width: .8rem;
}

::-webkit-scrollbar-track{
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5) ;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #555;
     transition: 0.2s;

}

.scroll2top svg{
  background-color: rgb(25,118,210,0.85);
  height: 2.6rem;
  width:  2.6rem;
  font-size: 12px;
  padding: 7px;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  border: 1px solid #ffffff45;
  color: var(--title);
  transition: 0.3s;
}
.scroll2top{
  transition: 1.3s;

}
.scroll2top svg:active{
  scale: 0.92;

}

.scroll2top svg:hover{
  background-color: rgb(25, 118, 210);
   transition: 0.2s;
}

.submit-button{
font-size:20px;
 margin-top:20px ;
 color:#cdcbcb;

}

.light .submit-button{
  color: #333;
}